@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@plugin "tailwind-scrollbar";
@source "../.flowbite-react/class-list.json";

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/InterVariable.woff2");
}

/* Electron title bar drag region */
.titlebar-drag-region {
    -webkit-app-region: drag;
}

.titlebar-no-drag {
    -webkit-app-region: no-drag;
}